{% extends 'base.html.twig' %}

{% block title %}Garage - catalogue{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Notre catalogue : </h1>
    <hr class="bg-light">
    <div class="last-box row justify-content-center">
    {% for car in cars %}
        {% set url = path('cars_show',{'slug':car.slug }) %}
        <div class="col-md-4  mb-2">
            <div class="card border-warning" style="height: 450px">
                <div class="card-header">{{ car.marque }} <strong class="text-warning">{{ car.modele }}</strong></div>
                <img src="{{ car.cover }}" class="img-fluid"  alt="{{ car.modele }}">
                <div class="card-body">
                    <h4 class="card-title">{{ car.modele }}</h4>
                    <p class="card-text">{{ car.description }}</p>
                    <a href="{{ url }}" class="btn btn-danger col-6">Voir plus ...</a>
                </div>
            </div>
        </div>  
    {% endfor %} 
    </div>  
</div>
{% endblock %}
